{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}


{% block content %}
{{ utils.flashed_messages(dismissible=True) }}
<div class="container">
  <table class="table table-hover">
    <tr>
      <td>Record</td>
      <td>{{ record.id }}</td>
    </tr>
    <tr>
      <td>Amount</td>
      <td>{{ record.amount }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ record.description }}</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>{{ record.date }}</td>
    </tr>
  </table>
</div>
<div class="container">
  {{ wtf.quick_form(form) }}
</div>
{% endblock %}