{% extends "base.html" %}

{% from "bootstrap5/form.html" import render_form_row %}
{% from "bootstrap5/table.html" import render_table %}
{% from 'bootstrap5/pagination.html' import render_pagination %}

{% block title %}Records{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center mt-2">
    <h2>Records</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" method="GET" action="{{ url_for('record.index') }}">
        {{ render_form_row([form.search, form.submit], form_type='inline') }}
      </form>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-md-12">
      {{ render_table(records,
                      titles=[
                        ('id', '#'),
                        ('date', 'Date'),
                        ('description', 'Description'),
                        ('amount', 'Amount'),
                        ('category_id', 'Category'),
                        ('merchant_id', 'Merchant'),
                      ],
                      show_actions=True,
                      custom_actions=[
                        ('New Rule', 'file-ruled', ('rule.add', [('keywords', ':description')])),
                        ('Search', 'search', ('record.index', [('search', ':description')])),

                      ],
                      model=Record,
                      edit_url=('record.edit', [('id', ':id'), ('next', request.path)]),
                    ) }}
      {{ records.first }} - {{ records.last }} of {{ records.total }}
      {{ render_pagination(records) }}
    </div>
  </div>
</div>
{% endblock %}