{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}
Category
{% endblock %}

{% block content %}
{{ utils.flashed_messages(dismissible=True) }}

<div class="container">
  <div class="row">
    <div class="row">
      <a href="{{ url_for('record.index') }}">All Records</a>
    </div>
    <div class="row">
      <a href="{{ url_for('record.index', category_id=0) }}">Uncategorized</a>
    </div>
  </div>

  <form method="GET" action="{{ url_for('record.index') }}">
  <div class="row">
    <div class="col">
      <input type="text" name="search" placeholder="Search"/>
    </div>
    <div class="col">
      <input type="submit" value="Search"/>
    </div>
  </div>
  </form>
  
  <div class="row">
    <table class="table table-hover">
      <tr>
        <th></th>
        <th></th>
        <th>ID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Merchant</th>
      </tr>
      {% for record in records %}
      <tr>
        <td>
          <a href="{{ url_for('record.edit', id=record.id) }}" class="btn btn-light">
            Edit
          </a>
        </td>
        <td>
          <a href="{{ url_for('record.delete', id=record.id) }}" class="btn btn-danger">
            Delete
          </a>
        </td>
        <td>{{ record.id }}</td>
        <td>{{ record.date }}</td>
        <td>{{ record.description }}</td>
        <td>{{ record.amount }}</td>
        <td>{{ record.category_id }}</td>
        <td>{{ record.merchant_id }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="row">
    <ul>
      <li><a href="{{ url_for('record.upload') }}">Upload Records</a></li>
    </ul>
  </div>
</div>
{% endblock %}