{% extends "base.html" %}

{% from 'bootstrap5/table.html' import render_table %}

{% block title %}Merchants{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center mt-2">
    <div class="col-md-6">
      <h2>Rules</h2>
      {{ render_table(rules,
                      titles=[
                        ('id', '#'),
                        ('keywords', 'Keywords'),
                        ('merchant_id', 'Merchant'),
                        ('category_id', 'Category'),
                      ],
                      show_actions=True,
                      model=Rule,
                      edit_url=('rule.edit', [('id', ':id')]),
                      delete_url=('rule.delete', [('id', ':id')]),
                      new_url='rule.add') }}
    </div>
  </div>
</div>
{% endblock %}