{% extends "base.html" %}

{% from "bootstrap5/table.html" import render_table %}

{% block title %}Merchants{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center mt-2">
    <div class="col-md-6">
      <h2>Merchants</h2>
      {{ render_table(merchants,
                      titles=[
                        ('id', '#'),
                        ('name', 'Name'),
                      ],
                      show_actions=True,
                      model=Merchant,
                      edit_url=('merchant.edit', [('id', ':id')]),
                      delete_url=('merchant.delete', [('id', ':id')]),
                      new_url='merchant.add') }}
    </div>
  </div>
</div>
{% endblock %}